<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/workouts.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <nav class="grey lighten-1">
      <div>
        <a href="/dashboard" class="brand-logo center">Ascetic</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/exercises">Exercises</a></li>
          <li><a href="/workouts">Workouts</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="col s12 m12 center-align">
        <h1>Workouts</h1>
      </div>
        <% workouts.forEach((workout) => { %>
          <ul class="collection with-header">
            <li class="collection-header workoutHeader">
              <a href="#"><h6><%= workout.name %></h6></a>
            </li>
            <% workout.exercises.forEach((exercise) => { %>
              <li class="collection-item exerciseShow" id="<%= exercise.name %>">
                <strong><%= exercise.name %></strong>
                <div class="row" id="<%= exercise.name %>">
                  <div class="col s4">
                    <input type="number" value="<%= exercise.reps %>" name="reps" id="ex-<%= exercise.id %>-w-<%= workout.id %>-reps" class="col s12">
                    <label for="exerciseReps">Reps</label>
                  </div>
                  <div class="col s4">
                    <input type="number" value="<%= exercise.sets %>" name="sets" id="ex-<%= exercise.id %>-w-<%= workout.id %>-sets" class="col s12">
                    <label for="exerciseSets">Sets</label>
                  </div>
                  <div class="col s4">
                    <button type="submit" name="submit" class="btn waves-effect waves-light col s6" id="ex-<%= exercise.id %>-w-<%= workout.id %>">
                      Update
                    </button>
                  </div>
                </div>
              </li>
            <% }) %>
          </ul>
        <% }) %>
    </div>

    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  </body>
</html>
