<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/workouts.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>

    <header>
      <% include ../partials/navbar %>
    </header>

    <br>

    <% include ../partials/workout-creation-button %>

    <div class="container">
      <div class="col s12 m12 center-align">
        <h3>All Workouts</h3>
      </div>
      <% if (workouts !== undefined) { %>
        <% workouts.forEach((workout) => { %>
          <ul class="collection with-header" id="workout-<%= workout.id %>">
              <li class="collection-header workoutHeader">
                <a class="remove right waves-effect waves-red btn-flat" id="<%= workout.id %>"><i class="deleteWorkout material-icons">remove</i></a>
                <a class="waves-effect waves-teal btn-flat"><h6><%= workout.name %></h6></a>
              </li>
            <% workout.exercises.forEach((exercise) => { %>
              <li class="collection-item exerciseShow" id="<%= exercise.name %>">
                <strong><%= exercise.name %></strong>
                <div class="row" id="<%= exercise.name %>">
                  <div class="col s4">
                    <input type="number" value="<%= exercise.reps %>" name="reps" id="ex-<%= exercise.id %>-w-<%= workout.id %>-reps" class="col s12">
                    <label for="exerciseReps">Reps</label>
                  </div>
                  <div class="col s4">
                    <input type="number" value="<%= exercise.sets %>" name="sets" id="ex-<%= exercise.id %>-w-<%= workout.id %>-sets" class="col s12">
                    <label for="exerciseSets">Sets</label>
                  </div>
                  <div class="col s4">
                    <button type="submit" name="submit" class="btn waves-effect waves-light col s6" id="ex-<%= exercise.id %>-w-<%= workout.id %>">
                      Update
                    </button>
                  </div>
                </div>
              </li>
            <% }) %>
          </ul>
        <% }) %>
      <% } %>
    </div>

    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  </body>
</html>
