<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css"  media="screen,projection"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="javascripts/dashboard.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dashboard</title>
  </head>
  <body>
    <nav class="grey lighten-1 z-depth-4">
      <div>
        <a href="/dashboard" class="brand-logo center">Ascetic</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="/exercises">Exercises</a></li>
          <li><a href="/workouts">Workouts</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
          <li><a href="/dashboard">Dashboard</a></li>
          <li>
            <a href="/logout">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <br>
    <div class="row">
      <div class="col s12" id="workoutCreation">
        <a class="btn-floating btn-large waves-effect waves-light grey lighten-1 right" href="/workouts/new">
          <i class="material-icons">add</i>
        </a>
      </div>
    </div>

    <div class="container">
      <div class="col s12 center">
        <h3 class="center">Dashboard</h3>
      </div>
      <% if (workouts !== undefined) { %>
        <% workouts.forEach((workout) => { %>
          <ul class="collection with-header">
            <li class="collection-header workoutHeader">
              <a class="waves-effect waves-teal btn-flat"><h6><%= workout.name %></h6></a>
            </li>
            <% workout.exercises.forEach((exercise) => { %>
              <div class="row col s12 exerciseShow">
                <li class="collection-item exerciseShow valign-wrapper" id="<%= exercise.name %>">
                  <div class="col s6">
                    <strong><%= exercise.name %></strong>
                  </div>
                  <div class="col s3">
                    Reps <%= exercise.reps %>
                  </div>
                  <div class="col s3">
                    Sets <%= exercise.sets %>
                  </div>
                  <div class="col s2">
                    <input type="number" value="<%= exercise.weight %>" name="weight" id="ex-<%= exercise.id %>-w-<%= workout.id %>-sets" class="col s6 center">
                    <label for="exerciseWeight">Weight</label>
                  </div>
                </li>
              </div>
            <% }) %>
          </ul>
        <% }) %>
      <% } %>
    </div>

    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  </body>
</html>
